# Discord Bot Configuration
DISCORD_BOT_TOKEN=your_bot_token_here

# Optional: Debug mode
DEBUG_MODE=false

# Optional: discordgo library debug logging
DISCORDGO_DEBUG=false

# Optional: Docker image tag
NORAEGAORI_TAG=latest

# Optional: Docker platform (linux/amd64, linux/arm64 or linux/386)
NORAEGAORI_PLATFORM=linux/amd64
